extends layout

block content
    video(src=videoUrl, controls='', data-autoresize="fit", width="50%")
    br
    label #{title}
    br
    p Description:
    p #{description}
    p Date uploaded
    p #{uploadDate}
    p
        | Uploaded by&nbsp;
        a(href="../users/" + username) #{username}
    if currentUserName && username && currentUserName == username
        p This is your video. You can delete it
        a(href="./delete/" + videoId) Delete video
    else if isModerator
        p You are a moderator. You can delete it
        a(href="./delete/" + videoId) Delete video