extends layout

block content
    video(src=videoUrl, controls='', data-autoresize="fit", width="50%")
    br
    label #{title}
    br
    p Description:
    p #{description}
    p Date uploaded
    p #{uploadDate}
    p
        | Uploaded by&nbsp;
        a(href="../users/" + username) #{username}